@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Gradient colors */
  --color-primary: #07be8a;
  --color-skyblue: #79adff;
  --color-lightskyblue: #9cc2dd;
  --color-badge: #172023;

  /* font size */
  --text-xm: 1.125rem;
  --text-9xl: 6.5rem;
  --text-40: 2.5rem;
  --text-52: 3.25rem;

  /* Breakpoint */
  --breakpoint-xs: 23.438rem; /* 375px */
  --breakpoint-mobile: 32.5rem; /* 520px */

  /* breakpoint / max-w */
  --spacing-45p: 45%;
  --spacing-85p: 85%;
  --spacing-90p: 90%;
  --spacing-68: 17.375rem; /*278px*/
  --spacing-8xl: 87.5rem; /* 1400px */
}

body {
  font-family: var(--font-bricolage-gro);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
